DATA SET 1 - Airline Satisfaction

- Archivo extraído de https://www.kaggle.com/datasets/sjleshrac/airlines-customer-satisfaction
- Idea disparadora: crear un modelo que prediga la compra de un pasajero de ómnibus según su comportamiento en el pasado o el comporamiento de usuarios con características similares. Dado que no conseguí un dataset de este estilo, extraje uno de una aerolínea y puedo replicarlo en caso de conseguir la información requerida

In [8]:
# Importo y verifico que cumpla con las condiciones de la consigna: >2000 filas y >15 columnas
import pandas as pd
df_airline = pd.read_excel("C:/Users/Flori/airlinesatisfaction.xlsx")  
print(df_airline.shape)
filas_al = 'Cumple condición de cantidad de filas mayor a 2000, tiene '+str(df_airline.shape[0])+' filas' if df_airline.shape[0] > 2000 else 'No cumple la condición de cantidad de filas mayor a 2000. Rever dataset'
print(filas_al)
columnas_al = 'Cumple condición de cantidad de columnas mayor a 15, tiene '+str(df_airline.shape[1])+' columnas' if df_airline.shape[1] > 15 else 'No cumple la condición de cantidad de columnas mayor a 15. Rever dataset'
print(columnas_al)

(129880, 23)
Cumple condición de cantidad de filas mayor a 2000, tiene 129880 filas
Cumple condición de cantidad de columnas mayor a 15, tiene 23 columnas

In [9]:
# Estudio las columnas para entender la información que puedo extraer
print(df_airline.head())

  satisfaction  Gender   Customer Type  Age   Type of Travel     Class  \
0    satisfied  Female  Loyal Customer   65  Personal Travel       Eco
1    satisfied    Male  Loyal Customer   47  Personal Travel  Business
2    satisfied  Female  Loyal Customer   15  Personal Travel       Eco
3    satisfied  Female  Loyal Customer   60  Personal Travel       Eco
4    satisfied  Female  Loyal Customer   70  Personal Travel       Eco

   Flight Distance  Seat comfort  Departure/Arrival time convenient  \
0              265             0                                  0
1             2464             0                                  0
2             2138             0                                  0
3              623             0                                  0
4              354             0                                  0

   Food and drink  ...  Online support  Ease of Online booking  \
0               0  ...               2                       3
1               0  ...               2                       3
2               0  ...               2                       2
3               0  ...               3                       1
4               0  ...               4                       2

   On-board service  Leg room service  Baggage handling  Checkin service  \
0                 3                 0                 3                5
1                 4                 4                 4                2
2                 3                 3                 4                4
3                 1                 0                 1                4
4                 2                 0                 2                4

   Cleanliness  Online boarding  Departure Delay in Minutes  \
0            3                2                           0
1            3                2                         310
2            4                2                           0
3            1                3                           0
4            2                5                           0

   Arrival Delay in Minutes
0                       0.0
1                     305.0
2                       0.0
3                       0.0
4                       0.0

[5 rows x 23 columns]

In [10]:
# Tipo de dato y columnas que tengo
tipos_de_datos_al = df_airline.dtypes
print(tipos_de_datos_al)

satisfaction                          object
Gender                                object
Customer Type                         object
Age                                    int64
Type of Travel                        object
Class                                 object
Flight Distance                        int64
Seat comfort                           int64
Departure/Arrival time convenient      int64
Food and drink                         int64
Gate location                          int64
Inflight wifi service                  int64
Inflight entertainment                 int64
Online support                         int64
Ease of Online booking                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Cleanliness                            int64
Online boarding                        int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
dtype: object

In [17]:
#Información de cada campo object
satisf = df_airline['satisfaction'].unique()
cust_type = df_airline['Customer Type'].unique()
type_travel = df_airline['Type of Travel'].unique()
cust_class = df_airline['Class'].unique()
print(satisf)
print(cust_type)
print(type_travel)
print(cust_class)

['satisfied' 'dissatisfied']
['Loyal Customer' 'disloyal Customer']
['Personal Travel' 'Business travel']
['Eco' 'Business' 'Eco Plus']

In [18]:
# Variables útiles para el análisis
column_names_al = df_airline.columns.tolist()
print(column_names_al)

['satisfaction', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class', 'Flight Distance', 'Seat comfort', 'Departure/Arrival time convenient', 'Food and drink', 'Gate location', 'Inflight wifi service', 'Inflight entertainment', 'Online support', 'Ease of Online booking', 'On-board service', 'Leg room service', 'Baggage handling', 'Checkin service', 'Cleanliness', 'Online boarding', 'Departure Delay in Minutes', 'Arrival Delay in Minutes']

Para entender la satisfacción es importante entender las características del viaje, por ende toda la información que trae es relevante. Por esto, consideraría:
- GROUP BY Type of Travel, Customer Type y Class -- a mejor clase o loyalty el servicio debería mejorar
- Edad promedio y Gender -- la paciencia no es la misma y la experiencia tampoco
- Cantidad de condiciones = 1 que posee, es decir si tuvo comida, si el asiento era cómodo, el servicio etc -- puede permitirle al usuario subir de categoría o ayudarme a predecir en qué status de satisfacción estará
- Debería definir una variable "Estado de vuelo" que permita evaluar si el vuelo fue bueno, malo, regular dependiendo del tiempo de espera
- Cantidad de usuarios en cada una de las características
- Porcentaje de usuarios en Satisfied vs dissatisfied para entender si el servicio overall es bueno o necesita mejoras ASAP
- Tiempo promedio de vuelo
- Tiempo de retraso promedio
- Cantidad de valijas
- Distancia media

DATA SET 2 - Customer Personality

- Archivo extraído de https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis
- Idea disparadora: crear un modelo que prediga la compra de un pasajero de ómnibus según su comportamiento en el pasado o el comporamiento de usuarios con características similares. Dado que no conseguí un dataset de este estilo, extraje un caso genérico de customer personality que me puede ayudar a predecir compportamientos en campañas de Marketing o de Pricing según las características del customer

In [21]:
# Importo y verifico que cumpla con las condiciones de la consigna: >2000 filas y >15 columnas
import pandas as pd
df_customerpersonality = pd.read_excel("C:/Users/Flori/customerpersonality.xlsx")  
print(df_customerpersonality.shape)
filas_cp = 'Cumple condición de cantidad de filas mayor a 2000, tiene '+str(df_customerpersonality.shape[0])+' filas' if df_customerpersonality.shape[0] > 2000 else 'No cumple la condición de cantidad de filas mayor a 2000. Rever dataset'
print(filas_cp)
columnas_cp = 'Cumple condición de cantidad de columnas mayor a 15, tiene '+str(df_customerpersonality.shape[1])+' columnas' if df_customerpersonality.shape[1] > 15 else 'No cumple la condición de cantidad de columnas mayor a 15. Rever dataset'
print(columnas_cp)

(2240, 29)
Cumple condición de cantidad de filas mayor a 2000, tiene 2240 filas
Cumple condición de cantidad de columnas mayor a 15, tiene 29 columnas

In [22]:
# Estudio las columnas para entender la información que puedo extraer
print(df_customerpersonality.head())

     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  AcceptedCmp3  \
0  2012-09-04       58       635  ...                  7             0
1  2014-03-08       38        11  ...                  5             0
2  2013-08-21       26       426  ...                  4             0
3  2014-02-10       26        11  ...                  6             0
4  2014-01-19       94       173  ...                  5             0

   AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  \
0             0             0             0             0         0
1             0             0             0             0         0
2             0             0             0             0         0
3             0             0             0             0         0
4             0             0             0             0         0

   Z_CostContact  Z_Revenue  Response
0              3         11         1
1              3         11         0
2              3         11         0
3              3         11         0
4              3         11         0

[5 rows x 29 columns]

In [23]:
# Tipo de dato y columnas que tengo
tipos_de_datos_cp = df_customerpersonality.dtypes
print(tipos_de_datos_cp)

ID                              int64
Year_Birth                      int64
Education                      object
Marital_Status                 object
Income                        float64
Kidhome                         int64
Teenhome                        int64
Dt_Customer            datetime64[ns]
Recency                         int64
MntWines                        int64
MntFruits                       int64
MntMeatProducts                 int64
MntFishProducts                 int64
MntSweetProducts                int64
MntGoldProds                    int64
NumDealsPurchases               int64
NumWebPurchases                 int64
NumCatalogPurchases             int64
NumStorePurchases               int64
NumWebVisitsMonth               int64
AcceptedCmp3                    int64
AcceptedCmp4                    int64
AcceptedCmp5                    int64
AcceptedCmp1                    int64
AcceptedCmp2                    int64
Complain                        int64
Z_CostContact                   int64
Z_Revenue                       int64
Response                        int64
dtype: object

In [24]:
#Información de cada campo object
educ = df_customerpersonality['Education'].unique()
marital_status = df_customerpersonality['Marital_Status'].unique()
print(educ)
print(marital_status)

['Graduation' 'PhD' 'Master' 'Basic' '2n Cycle']
['Single' 'Together' 'Married' 'Divorced' 'Widow' 'Alone' 'Absurd' 'YOLO']

In [25]:
# Variables útiles para el análisis
column_names_cp = df_customerpersonality.columns.tolist()
print(column_names_cp)

['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response']

Variables que tendría en cuenta:
- Edad promedio
- Cantidad de usuarios en cada Education
- Cantidad de usuarios en cada Marital Status
- Cantidad de usuarios con Income mayor a X
- Income medio
- Cantidad de quejas por tipo de educación
- Comportamiento por canal: catalogo, web, store

DATASET 3 - BEST BOOKS EVER

- Archivo extraído de https://www.kaggle.com/datasets/arnabchaki/goodreads-best-books-ever
- Idea: crear un modelo que indique una recomendación de un libro según el día y humor del lector. Para esto traje un dataset con indicaciones de grandes libros, en diferentes idiomas, con diferentes puntuaciones, plots y géneros sabiendo que hay un libro para cada tipo de lector
- El dataset está bastante sucio, requiere bastante limpieza

In [5]:
# Importo y verifico que cumpla con las condiciones de la consigna: >2000 filas y >15 columnas
import pandas as pd
df_books = pd.read_excel("C:/Users/Flori/books.xlsx")  
print(df_books.shape)
filas_b = 'Cumple condición de cantidad de filas mayor a 2000, tiene '+str(df_books.shape[0])+' filas' if df_books.shape[0] > 2000 else 'No cumple la condición de cantidad de filas mayor a 2000. Rever dataset'
print(filas_b)
columnas_b = 'Cumple condición de cantidad de columnas mayor a 15, tiene '+str(df_books.shape[1])+' columnas' if df_books.shape[1] > 15 else 'No cumple la condición de cantidad de columnas mayor a 15. Rever dataset'
print(columnas_b)

(63686, 116)
Cumple condición de cantidad de filas mayor a 2000, tiene 63686 filas
Cumple condición de cantidad de columnas mayor a 15, tiene 116 columnas

In [27]:
# Estudio las columnas para entender la información que puedo extraer
print(df_books.head())

    kk                                       bookId  \
0  NaN                     2767052-the-hunger-games
1  NaN  2.Harry_Potter_and_the_Order_of_the_Phoenix
2  NaN                   2657.To_Kill_a_Mockingbird
3  NaN                     1885.Pride_and_Prejudice
4  NaN                               41865.Twilight

                                       title                 series  \
0                           The Hunger Games    The Hunger Games #1
1  Harry Potter and the Order of the Phoenix        Harry Potter #5
2                      To Kill a Mockingbird  To Kill a Mockingbird
3                        Pride and Prejudice                    NaN
4                                   Twilight   The Twilight Saga #1

                                       author rating  \
0                             Suzanne Collins   4.33
1  J.K. Rowling, Mary GrandPrÃ© (Illustrator)   4.50
2                                  Harper Lee   4.28
3   Jane Austen, Anna Quindlen (Introduction)   4.26
4                             Stephenie Meyer   3.60

                                         description language           isbn  \
0  WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...  English  9780439023481
1  There is a door at the end of a silent corrido...  English  9780439358071
2  The unforgettable novel of a childhood in a sl...  English  9999999999999
3  Alternate cover edition of ISBN 9780679783268S...  English  9999999999999
4  About three things I was absolutely positive. ...  English  9780316015844

                                              genres  ... Unnamed: 107  \
0  ['Young Adult', 'Fiction', 'Dystopia', 'Fantas...  ...          NaN
1  ['Fantasy', 'Young Adult', 'Fiction', 'Magic',...  ...          NaN
2  ['Classics', 'Fiction', 'Historical Fiction', ...  ...          NaN
3  ['Classics', 'Fiction', 'Romance', 'Historical...  ...          NaN
4  ['Young Adult', 'Fantasy', 'Romance', 'Vampire...  ...          NaN

  Unnamed: 108 Unnamed: 109 Unnamed: 110 Unnamed: 111 Unnamed: 112  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 113 Unnamed: 114 Unnamed: 115 Unnamed: 116
0          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN

[5 rows x 117 columns]

In [2]:
# Tipo de dato y columnas que tengo -- muy sucio
tipos_de_datos_b = df_books.dtypes
print(tipos_de_datos_b)

NameError: name 'df_books' is not defined

In [6]:
# Variables útiles para el análisis
column_names_b = df_books.columns.tolist()
print(column_names_b)

['bookId', 'title', 'series', 'author', 'rating', 'description', 'language', 'isbn', 'genres', 'characters', 'bookFormat', 'edition', 'pages', 'publisher', 'publishDate', 'firstPublishDate', 'awards', 'numRatings', 'ratingsByStars', 'likedPercent', 'setting', 'coverImg', 'bbeScore', 'bbeVotes', 'price', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77', 'Unnamed: 78', 'Unnamed: 79', 'Unnamed: 80', 'Unnamed: 81', 'Unnamed: 82', 'Unnamed: 83', 'Unnamed: 84', 'Unnamed: 85', 'Unnamed: 86', 'Unnamed: 87', 'Unnamed: 88', 'Unnamed: 89', 'Unnamed: 90', 'Unnamed: 91', 'Unnamed: 92', 'Unnamed: 93', 'Unnamed: 94', 'Unnamed: 95', 'Unnamed: 96', 'Unnamed: 97', 'Unnamed: 98', 'Unnamed: 99', 'Unnamed: 100', 'Unnamed: 101', 'Unnamed: 102', 'Unnamed: 103', 'Unnamed: 104', 'Unnamed: 105', 'Unnamed: 106', 'Unnamed: 107', 'Unnamed: 108', 'Unnamed: 109', 'Unnamed: 110', 'Unnamed: 111', 'Unnamed: 112', 'Unnamed: 113', 'Unnamed: 114', 'Unnamed: 115']

Variables que tendría en cuenta:
- Share de cada autor
- Cantidad de libros por género
- Cantidad de libros por bookFormat
- Porcentaje de likes por género
- Precio medio por género
- Awards por autor
- Cantidad de rating por género
- Año de publicación por rating